@import 'Variables';

* {
    box-sizing: border-box;
    margin: 0;
    // font-family: $f-roboto-mono;
    font-family: $f-lilita-one;
    // font-family: $f-merryweather;
    font-weight: 100;
}

#root {
    display: flex;
    flex-flow: column;
    align-items: center;
}

body {
    background-color: $marbles-color1;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23009dff' fill-opacity='1'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

a {
    color: #0000ff;
    text-decoration: none;

    &:hover {
        color: gold;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    padding: 10px;
    margin: .5rem;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 100px;
    border: .3rem solid black;
    font-size: 3dvh;
    display: flex;
    justify-content: center;
    align-items: center;

    &:enabled:hover {
        background: $marbles-color1;
        cursor: pointer;
    }
}

select {
    margin: 0 1rem;
    padding: .5rem;
    font-size: 2dvh;
    text-align: center;
    font-weight: bold;
    border: .2rem solid black;
    border-radius: 100rem;

    &:hover {
        background: $marbles-color2;

        * {
            color: white;
            font-weight: bold;
        }
    }
}