@import 'Variables';

.collectible-form-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    form {
        margin: 10rem 0;
    }
}

fieldset.form {
    margin-top: 0;
    align-items: center;
    gap: .5rem;

    input, textarea[name=about], select {
        width: 80%;
        border: .2rem ridge gold;
        border-radius: .5rem;
        text-align: center;

        &:focus {
            background: $marbles-color1;
        }
    }

    textarea[name=about] {
        aspect-ratio: 3;
    }

    label::after {
        content: ':';
    }
}

.hello-there {
    @include memeOutline();
    margin-top: 2rem;
    opacity: 0;
    transition: all .5s linear;

    &:hover {
        opacity: 1;
    }
}

button[type=submit] {
    color: yellow;
    text-shadow: 0 0 .1rem black;
    box-shadow: 0 0 .5rem black;

    &:hover {
        color: greenyellow;
        box-shadow: 0 0 1rem chartreuse;
        border-color: gold;
    }
}