@import 'Variables';

.collectible-form-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    form {
        margin: 10rem 0;
    }
}

fieldset.form {
    margin-top: 0;
    align-items: center;
    gap: .5rem;

    input {
        width: 80%;
    }

    textarea[name=about] {
        width: 80%;
        aspect-ratio: 3;
    }

    label::after {
        content: ':';
    }
}

.hello-there {
    @include memeOutline();
    margin-top: 2rem;
    opacity: 0;
    transition: all .5s linear;

    &:hover {
        opacity: 1;
    }
}

button[type=submit] {
    color: yellow;
    text-shadow: 0 0 1rem black;
    box-shadow: 0 0 1rem black;

    &:hover {
        color: greenyellow;
        text-shadow: 0 0 .1rem black;
        box-shadow: 0 0 1rem chartreuse;
    }
}