@import 'Variables';

.landing-main {
    display: flex;
    flex-flow: column;
}

.landing {
    margin: 1rem;
}

.landing-head,
.landing-body {
    text-align: center;
    background: #fffa;
    border: .5rem groove black;
    @include circleBG();
}

.landing-head {


    .landing-title {
        font-size: 5dvh;
    }

    .landing-message {
        font-style: italic;
        font-size: 3dvh;
    }

    * {
        width: 80dvw;
        background: #ffffffcc;
        border-radius: 50rem;
        border: .3rem solid black;
        padding: .5rem 1rem;
        text-shadow: 0 0 1px black;
    }
}

.landing-meme {
    @include memeOutline();
}

.caw, .landing-meme {
    max-height: 50dvh;
    transition: all .5s linear;
    opacity: 0;

    .caw-collect {
        @include memeOutline();
    }

    &:hover {
        opacity: 1;
    }
}

.caption {
    background: white;
    padding: .5rem 1rem;
    border: double black;
    text-align: center;
    margin-top: 2rem;
}