nav {
    border: .4rem groove black;
    width: 100dvw;
    border-radius: 10rem;
    height: 10dvh;
    margin: 1rem;
    background: #ddda;
    font-size: 3dvw;

    @media (min-width: 1200px) {
        font-size: 2.5dvw;
    }
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    filter: drop-shadow(0 0 1rem silver);
}

.logo {
    height: 5dvh;
    margin-right: .5rem;
    aspect-ratio: 1;
    transition: all .2s linear;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-name-link {
    
    a {
        color: green;
    }
}