@use 'CollectibleList'; // Not necessary due to global targeting but using to note where the base style is coming from

.profile-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2.5dvw;
    height: 70dvh;
    overflow: scroll;
    outline: .3rem groove black;
    border-radius: .5rem;
    margin: .5rem 1rem;
    padding: 1rem 0;
}

.profile-list-image {
    border: .2rem ridge yellow;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 6rem;
}

.profile-card {
    display: flex;
    align-items: center;
    border: .3rem double black;
    border-radius: .5rem;
    width: 15rem;
    padding: 1rem .5rem;
    background: white;
    justify-content: space-between;
    aspect-ratio: 2;
    gap: 1rem;
}

.profile-card-details {
    border-left: 1px solid black;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
}