.profile-form-main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 80dvh;
    margin-bottom: 5rem;

    form {
        width: fit-content;
        padding: 10rem 0;
        border: 5px solid black;
    }
}