@import 'Variables';

.profile-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 0 2.5dvw;
    height: 70dvh;
    overflow: scroll;
    outline: .3rem groove black;
    border-radius: .5rem;
    margin: .5rem 1rem;
    padding: 1rem 0;
    width: 97%;

    a:focus {

        .profile-card {
            box-shadow: 0 0 1rem white;
            border: .3rem solid yellow;
            color: gold;

        }
    }
}

.profile-list-image {
    border: .2rem ridge yellow;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 6rem;
}

.profile-card {
    display: flex;
    align-items: center;
    border: .3rem double black;
    border-radius: .5rem;
    width: 15rem;
    padding: 1rem .5rem;
    background: white;
    justify-content: space-evenly;
    aspect-ratio: 2;
    gap: 1rem;

    &:hover {
        box-shadow: 0 0 1rem white;
        border: .3rem solid yellow;
        color: blue;
        
        .profile-list-image {
            scale: 1.1;
            border-color: silver;
        }
    }
}

.profile-card-details {
    border-left: 1px solid black;
    padding-left: 1rem;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
}