form {
    margin-top: 10dvh;
    border: .5rem groove skyblue;
    border-top: none;
    border-bottom: none;
    border-radius: 100%;
    aspect-ratio: 1;
    background: #ffffff55;
    height: 50dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    background: #ccccccaa;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    align-items: flex-end;
    padding: 1rem 2rem;
}

#buttons-confirmpw {
    display: flex;
    flex-flow: column;
    align-content: flex-end;
}

button {
    align-self: flex-end;
}

.link-wrapper {
    align-self: flex-end;
}